/* stylelint-disable font-family-no-missing-generic-family-keyword */
html {
  font-family: "Pokemon GB";
  src: "C:/Windows/Fonts/Pokemon GB Regular";
}

.hidden {
  display: none;
}

#desktop-l {
  display: none;
}

.viewing-container {
  display: flex;
  justify-content: center;
}

#pokedex-view {
  max-width: 600px;
  max-height: 382px;
}

img {
  width: 100%;
}

.pokedex-container {
  flex-direction: column;
  max-width: 1100px;
  display: flex;
  align-items: center;
  position: relative;
}

p {
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}
