/* stylelint-disable font-family-no-missing-generic-family-keyword */
ul,
.type-filter-container {
  scrollbar-color: gray rgb(252, 252, 252);
  scrollbar-width: thin;
}

li {
  cursor: pointer;
  padding: 7.3px;
  list-style-type: none;
  margin-top: 0;
  display: flex;
}

.marker {
  width: 22px;
  height: 16px;
  margin-right: 4px;
}

.pokedex-list {
  overflow: scroll;
  font-size: 1em;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 15%;
  width: 80%;
  height: 85%;
  padding: 0;
  background-color: rgba(255, 198, 198, 0.381);
}

.selected {
  background-color: #007bffa8;
}

.search-container {
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  top: 1px;
  margin-top: 10px;
  height: 5%;
  max-width: 85%;
  border-radius: 4px;
  border: 2px solid;
  border-color: #665a5a;
}

.search-bar {
  padding-left: 1.25rem;
  min-width: 90%;
  height: 100%;
  border-style: none;
  font-family: "Pokemon GB";
  color: #3c3434;
  font-size: 0.8em;
}

.icon {
  height: 90%;
  cursor: pointer;
}

.type {
  width: 30%;
}

.checkbox {
  width: 30%;
  height: 90%;
}

label {
  margin: 5px 0;
}

.type-filter-container {
  border: 1px solid gray;
  border-radius: 4px;
  max-height: 50%;
  font-size: 0.8em;
  display: none;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 1em;
  box-shadow: 5px 5px 5px rgb(101, 101, 101);
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 8%;
  right: 8%;
  overflow: scroll;
}

#pokemon-description {
  position: absolute;
  bottom: 15%;
  top: 68%;
  left: 8%;
  width: 85%;
  resize: none;
  border: none;
}

.sprite-container {
  position: absolute;
  width: 35%;
  left: 5%;
  top: 10%;
}

.back-sprite-container {
  position: absolute;
  width: 10%;
  left: 44%;
  top: 33%;
}

.height-weight-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.7vw;
  position: absolute;
  top: 43.5%;
  left: 70%;
  height: 17%;
}

@media screen and (min-width: 864px) {
  #mobile-l {
    display: none;
  }

  #desktop-l {
    display: block;
    max-width: 1100px;
    max-height: 385px;
  }

  .pokedex-container {
    justify-content: start;
    flex-basis: 70%;
  }

  .pokedex-list {
    max-width: 60%;
    max-height: 80%;
    margin: 0;
    top: 11%;
    left: 4%;
  }

  li {
    padding: 8px;
  }

  .search-container {
    max-width: 32%;
    right: 20px;
    top: 10px;
    height: 10%;
  }

  .type-filter-container {
    top: 20%;
    max-height: 75%;
    box-shadow: none;
  }
}
